//-
    Copyright 2014 Rick Van Tassel<rickvt@gmail.com>

    This file is part of Coin-chance.

    Coin-chance is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Coin-chance is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Coin-chance.  If not, see <http://www.gnu.org/licenses/>.

doctype html
html(lang="en")
    head
        title= title + " - " + description
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="css/coin-chance-login.css" rel="stylesheet")
        link(rel="stylesheet",href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
        link(rel="stylesheet",href="/css/lavish-bootstrap.min.css")
        script(src="/js/jquery-1.10.2.min.js")
        script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
        script(async='async' src='/js/coin-chance-login.js')
    body
        nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
            .container
                .navbar-header
                    a.navbar-brand(href="#") #{title}
        .container
            h1 Login:
            if loginFailure
                .failure Login failed
            form#loginForm(method="POST",action="/login")
                .formgroup
                    label(for="username") Username
                    input#username.form-control(type="text",name="username")
                .formgroup
                    label(for="password") Password
                    input#password.form-control(type="password",name="password")
                .formgroup
                    label(for="otp") OTP code (if needed)
                    input#otp.form-control(type="text",name="otp")
                button#submit.btn.btn-default(type="submit") Log in
            h2 Or:
                button#newAccount.btn.btn-default(type="button") New Account
            #agplStuff
                if srcLink==""
                    - srcLink = "/dist/dist.tar.gz"
                a#agplLink(href="#{srcLink}")
                    img#agplLogo(src="/images/agplv3-155x51.png")

